{% case section.settings.button_size %}
        {% when 'medium' %}
          {%- assign btn_height = 'button_medium' -%}
        {% when 'large' %}
          {%- assign btn_height = 'button_large' -%}
 {% endcase %}         
<div id="textsection">
    <div class="container">
        <h3> {{ section.settings.text-box }} </h3>
        <a href="{{ section.settings.link }}" class="btn btn--cta {{btn_height}}">{{ section.settings.linktext}}</a>
    </div>
</div>

{% schema %}
{
    "name": "Bouton Perso",
    "settings": [
{
    "id": "text-box",
    "type": "text",
    "label": "Titre",
    "default": "Title"
},
{
    "id": "link",
    "type": "url",
    "label": "Lien"
},
{
    "id": "linktext",
    "type": "text",
    "label": "Texte",
    "default": "Cliquez ici"
},
{
   "type": "select",
   "id": "button_size",
   "options": [
      { "value": "medium", "label": "medium"},
      { "value": "large", "label": "large"}
   ],
   "label": "Taille du bouton"
}
    ]
,
    "presets": [
        {
            "name": "Bouton Perso",
            "category": "Bouton Perso"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}